<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="{{ site.name }}">
<meta name="description" content="{{ site.description }}">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}{{ page.url | remove: 'index.html' }}">
<meta property="og:image" content="{{ site.url }}/img/kanji.png">
<meta property="og:site_name" content="{{ site.name }}">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="icon" href="/img/kanji.png">
<link rel="apple-touch-icon" href="/img/kanji.png">
